<%- include("templates/cabecera", {tituloWeb: 'Página de servicios' }) %>

    <h1 style="text-align: center;padding: 20px;">
        <%= tituloServicios %>
    </h1>

    <%- include("templates/footer") %>